.info-main-container{
    display: flex;
    margin: 15px;
}
.icon-btn-main{
    border-radius: 50%;
    color: black;
    width: 40px;
    height: 40px;
    background: var(--grenyellow);
    margin-right: 15px;
}
.btn-info-main > p{
 font-size: 0.8rem;
 padding: 0px 15px;
}
.btn-info-main{
    background: #2C2727;
    width: 150px;
    position: relative;
    border-radius: 10px;
    
}
.btn-info-main::before {
    content: '';
    width: 20px; 
    height: 20px;
    background-color:  #2C2727;
    position: absolute;
    left: -8px;
       transform: rotate(45deg) ;
       Top: 40%; 
    margin-top: -5px;
  }
.icon-btn-main,.btn-info-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ico-time,.ico-map{
    padding: 4px;
    width: 40px;
    height: 40px;
}