.container-paquete > h2,.container-paquete > p{
    text-align: center;
}
.container-paquete > h2{
    line-height: 4;
}
.container-paquete > p{
    margin-bottom: 30px;
}
/** lode arriba es el titulo de plan paquetes*/
/**animaciones styles*/
.animation-left{
    animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.animation-rigth{
    animation: myAnim2 1s ease 0s 1 normal forwards;
}
@keyframes myAnim2 {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}