
.nav{
    display: flex;
    justify-content: space-evenly;/**centrnado o dar espacio */
    align-items: center;
    height: 100%;
}
.nav-logo{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo > img{
    width: 120px;
    height: auto;
}
.nav > ul {
 display: flex;
}
.nav > ul > li{
    list-style: none;
    margin: 0px 25px;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.nav > ul > li:hover,.nav > ul > li:focus{
    color: var(--grenyellow);
}
.nav > ul > li:hover:after,.nav > ul > li:focus:after{
    width: 100%;
    left: 0;
}
.nav > ul > li > a:active{
    color: var(--grenyellow);
}
.nav > ul > li::after{
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: var(--grenyellow);
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
}
.nav > ul > li > a{
    text-decoration: none;
    color: var(--letra-peque);
}


/**styke dark*/
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #ffffff;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background: linear-gradient(90deg, #141E30 0%, #243B55 100%);
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }