.header{
    font-family: var(--letra1);
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.438);
    position: sticky;
    
}
.nav{
    display: flex;
    justify-content: space-evenly;/**centrnado o dar espacio */
    align-items: center;
    height: 100%;
}
.nav-logo{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo > img{
    width: 120px;
    height: auto;
}
.nav > ul {
 display: flex;
}
.nav > ul > li{
    list-style: none;
    margin: 0px 25px;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.nav > ul > li:hover,.nav > ul > li:focus{
    color: var(--grenyellow);
}
.nav > ul > li:hover:after,.nav > ul > li:focus:after{
    width: 100%;
    left: 0;
}
.nav > ul > li > a:active{
    color: var(--grenyellow);
}
.nav > ul > li::after{
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: var(--grenyellow);
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
}
.nav > ul > li > a{
    text-decoration: none;
    color: var(--letra-peque);
}
.nav-redes-sociales{
    color: var(--grenyellow);
}
.nav-redes-sociales > *{
    margin-right: 10px;
}